<body>
  <div class="container">
    <app-requestlist></app-requestlist>

    <!-- <hr>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <h4>Event Name / Location</h4>
          </div>
        </div>
        <div class="row container">
          <img src="/assets/img/stud.jpg" style="max-height: 250px; min-width: 300px;">
        </div>
      </div>
      <div class="col">

        <div class="row">
          <h4>Student Name</h4>
        </div>

        <div class="row">
          <p>Comment Comment Comment Comment</p>
        </div>

        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-primary button1"
              onclick="confirm('Are you sure you wish to accept this submission?')">Accept</button>
            <button class=" btn btn-primary button2"
              onclick="confirm('Are you sure you wish to reject this submission?')">Reject</button>
          </div>
        </div>

      </div>
    </div> -->
  </div>
</body>
