<div style="text-align:center" class="center">
  <br><br>
  <div class="row">
    <h1 style="text-align:left" class="col-lg-6">My Courses</h1>
    <h1 style="text-align:right" class="col-lg-6">Selected Course</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 overflow-auto grid-height">
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
          <mat-card>
            <img mat-card-img width="200" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
          <mat-card>
            <img mat-card-img width="200" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
          <mat-card>
            <img mat-card-img width="200" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
          <mat-card>
            <img mat-card-img width="200" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
          <mat-card>
            <img mat-card-img width="200" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-md-6 col-md-offset-2 overflow-auto grid-height">
      <mat-grid-list cols="2" rowHeight="99px">

        <mat-grid-tile [colspan]="2" [rowspan]="6">
          <mat-card>
            <img mat-card-img width="500" src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
            <mat-card-content style="text-align: left">
              <h1>
                ClassName
              </h1>
              <h1>
                Instructor
              </h1>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile class="btn btn-primary" [colspan]="1" [rowspan]="1">Edit course</mat-grid-tile>
        <mat-grid-tile class="btn btn-secondary" [colspan]="1" [rowspan]="1">Un-enroll</mat-grid-tile>

      </mat-grid-list>
    </div>
  </div>
</div>
