

h1 {
  color: white;
}


.add-button {
  height: 100%;
  border-style: none;
  margin: 5px;
}

img {
  width: 100%;
  max-height: 60%;
}

.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  padding-top: 50px;
  width: 95%;
}

.grid-height {
  height: 650px;
}

body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}
