<body>
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h2>My Courses</h2>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary add-button">
          Create Course
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary add-button">
          Add Course
        </button>
      </div>

    </div>
    <div class="row">
      <div class="scroll-container">
        <mat-card>
          <img mat-card-img width="200" src="assets/img/venuelogo.svg">
          <mat-card-content>
            <h1>
              ClassName
            </h1>
            <h1>
              Instructor
            </h1>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img mat-card-img width="200" src="assets/img/venuelogo.svg">
          <mat-card-content>
            <h1>
              ClassName
            </h1>
            <h1>
              Instructor
            </h1>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <img mat-card-img width="200" src="assets/img/venuelogo.svg">
          <mat-card-content>
            <h1>
              ClassName
            </h1>
            <h1>
              Instructor
            </h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <h2>Selected Course</h2>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <mat-card>
              <img mat-card-img width="400" src="assets/img/venuelogo.svg">
              <mat-card-content>
                <h1>
                  ClassName
                </h1>
                <h1>
                  Instructor
                </h1>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <button class="btn btn-primary">Show students</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary"
              onclick="confirm('This action will remove you from the course. OK?')">Unenroll</button>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</body>
