<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>My Courses
          <span class="float-right">
            <button type="button" class="btn btn-primary add-button">
              Create Course
            </button>
          </span>
          <span class="float-right">
            <button type="button" class="btn btn-primary add-button">
              Add Course
            </button>
          </span>
        </h2>
        <div class="col col-md-offset-2 overflow-auto">
          <mat-grid-list cols="2" rowHeight="300px" gutterSize="10px">
            <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
              <mat-card>
                <img mat-card-img width="200" src="assets/img/venuelogo.svg">
                <mat-card-content>
                  <h1>
                    ClassName
                  </h1>
                  <h1>
                    Instructor
                  </h1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
              <mat-card>
                <img mat-card-img width="200" src="assets/img/venuelogo.svg">
                <mat-card-content>
                  <h1>
                    ClassName
                  </h1>
                  <h1>
                    Instructor
                  </h1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
              <mat-card>
                <img mat-card-img width="200" src="assets/img/venuelogo.svg">
                <mat-card-content>
                  <h1>
                    ClassName
                  </h1>
                  <h1>
                    Instructor
                  </h1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
              <mat-card>
                <img mat-card-img width="200" src="assets/img/venuelogo.svg">
                <mat-card-content>
                  <h1>
                    ClassName
                  </h1>
                  <h1>
                    Instructor
                  </h1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
            <mat-grid-tile type="button" [colspan]="1" [rowspan]="1">
              <mat-card>
                <img mat-card-img width="200" src="assets/img/venuelogo.svg">
                <mat-card-content>
                  <h1>
                    ClassName
                  </h1>
                  <h1>
                    Instructor
                  </h1>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div class="col">
        <h2>Selected Course</h2>
        <mat-grid-list cols="2" rowHeight="85px" gutterSize="10px">

          <mat-grid-tile [colspan]="2" [rowspan]="6">
            <mat-card>
              <img mat-card-img src="assets/img/venuelogo.svg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <h1>
                  ClassName
                </h1>
                <h1>
                  Instructor
                </h1>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button class="btn btn-primary">Show students</button>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button class="btn btn-secondary"
              onclick="confirm('This action will remove you from the course. OK?')">Unenroll</button>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </div>
</body>
