h1 {
  color: white;
}

hr {
  background: black;
}

.add-button {
  height: 100%;
  width: 100%;
  border-style: none;
}

button {
  width: 100%;
  margin: 2px;
}

img {
  max-width: 80%;
  max-height: 50%;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  mat-card {
    display: inline-block;
    margin: 5px;
  }
}

mat-card {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

// mat-card-content {
//   background: rgba(0, 0, 0, 0.2)
// }

body {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
  background: white;
  overflow-y: hidden;
}
