mat-grid-tile {
  background: none;
  margin: 0px;
}

mat-card {
  background: rgb(138, 102, 153);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

h1 {
  color: white;
}

button {
  width: 95%;
  height: 95%;
}

.add-button {
  height: 100%;
  border-style: none;
  margin: 5px;
}

img {
  width: 100%;
  max-height: 60%;
}

.btn-primary {
  background: #1DAEEB;
}

.btn-secondary {
  background: #FC5D60;
}

.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  width: 95%;
}

.grid-height {
  height: 650px;
}

body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}
