<body style="text-align:center"><br><br><br><br>
  <img style="width: 25%" alt="Angular Logo" src="assets/img/venuelogo.svg">
  <br><br>
  <h1>Welcome to Venue.</h1>
  <p>Venue is a platform that allows instructors to give students credit for attending
    events. An instructor signs on
    and creates courses and events, students can then use the venue app to upload event submissions, which can contain
    images or GPS data that verifies a student attended an event.</p>
  <hr style="width: 30%">
  <br>
  <div>
    <button type="button" class="btn btn-secondary btn-other">Login with CAS</button>
    <br>or<br></div>
  <button type="button" class="btn btn-primary" [routerLink]="'/login'">Login</button>
  <button type="button" class="btn btn-secondary" [routerLink]="'/signup'">Sign Up</button>
</body>
