<div class="row">
  <div class="scroll-container">
    <div class="card">
      <img class="card-header container" src="/assets/img/stud.jpg" alt="img">
      <div class="card-body">
        <!-- <h5 class="card-title">Course</h5> -->
        <h5 class="card-title">Event/Location</h5>
        <hr>
        <p class="card-text">Student Name</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>

        <div class="btn-group" role="group" style="width: 100%;">
          <button class="btn btn-primary button1"
            onclick="confirm('Are you sure you wish to accept this submission?')">Accept</button>
          <button class=" btn btn-danger button2"
            onclick="confirm('Are you sure you wish to reject this submission?')">Reject</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-header container" src="/assets/img/stud.jpg" alt="img">
      <div class="card-body">
        <!-- <h5 class="card-title">Course</h5> -->
        <h5 class="card-title">Event/Location</h5>
        <hr>
        <p class="card-text">Student Name</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>

        <div class="btn-group" role="group" style="width: 100%;">
          <button class="btn btn-primary button1"
            onclick="confirm('Are you sure you wish to accept this submission?')">Accept</button>
          <button class=" btn btn-danger button2"
            onclick="confirm('Are you sure you wish to reject this submission?')">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
