<body>
  <div class="container">
    <app-eventlist></app-eventlist>

    <hr>

    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <h4>Selected Event</h4>
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-remove"
              onclick="confirm('Are you sure you wish to remove this event?')">Remove Event</button>
          </div>

        </div>
        <div class="row container">
          <img src="/assets/img/venuelogo.svg" style="max-height: 300px;">
        </div>
      </div>
      <div class="col">

        <div class="row">
          <button class="btn btn-primary" data-toggle="modal" data-target="#cameraModal">Take photo</button>
          <input type="button" class="btn btn-secondary" type="file" style="max-width: 300px;" />
        </div>

        <div class="row">
          <button class="btn btn-primary">Upload</button>
        </div>

        <div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="gridcell">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <webcam mirrorImage="always" autoplay></webcam>
              <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="capture" data-dismiss="modal">Take Photo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
