<body>
  <div class="row">
    <h1 class="col-md-6">Validation Requests</h1>
    <h1 class="col-md-6">Submission Info</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 overflow-auto grid-height">
      <mat-grid-list cols="1" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">1</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">2</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">3</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">4</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">5</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">6</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">7</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">8</mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-md-6 col-md-offset-2 overflow-auto grid-height">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <img class="center" src="/assets/img/stud.jpg">
        </div>
        <h2>
          Event name
          <hr width="100%">Event location
        </h2>
      </div>
      <br><br>
      <h2 class="center">Student name</h2>

      <br>
      <p class="center overflow-auto comment">
        Comment here and it can extend up to this point and can be read even more!
        Comment here and it can extend up to this point and can be read even more!
        Comment here and it can extend up to this point and can be read even more!
        Comment here and it can extend up to this point and can be read even more!
        Comment here and it can extend up to this point and can be read even more!
      </p>
      <hr style="width: 100%">
      <div class="row">
        <div class="col-md-6 col-md-offset-2 overflow-auto">
          <button class="btn btn-primary button1"
            onclick="confirm('Are you sure you wish to accept this submission?')">Accept</button>
        </div>
        <div class="col-md-6 col-md-offset-2 overflow-auto">
          <button class="btn btn-primary button2"
            onclick="confirm('Are you sure you wish to reject this submission?')">Reject</button>
        </div>
      </div>
    </div>
  </div>
</body>
