.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  width: 95%;
}

.grid-height {
  height: 650px;
}

mat-grid-tile {
  background: none;
  margin: 0px;
}

mat-card {
  background: rgb(145, 27, 196);
  width: 95%;
  height: 95%;
}

.event {
  background: rgb(145, 27, 196);
}

h1 {
  color: white;
}

h2 {
  margin-right: 0%;
}

button {
  width: 45px;
  border-style: none;
}

img {
  width: 100%;
  max-height: 60%;
}

.btn-primary {
  background: #1DAEEB;
}

.btn-secondary {
  background: #FC5D60;
}

.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  width: 95%;
}

.grid-height {
  height: 650px;
}

body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}
