mat-grid-tile {
  background: lightblue;
}

.row {
  display: flex;
  h1 {
    text-align: left;
  }
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.grid-height {
  height: 700px;
}
