<div class="row">
  <div class="scroll-container">
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
