img {
  max-width: 80%;
  max-height: 50%;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  mat-card {
    display: inline-block;
    margin: 5px;
  }
}

mat-card {
  display: inline-block;
  margin: 5px;
  padding: 0;
}


.add-button {
  height: 100%;
  width: 100%;
  border-style: none;
}

.card-scroll {
  padding: 10px;
  overflow-x: scroll;
}

.card {
  overflow: hidden;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 10px;
}

.card-img-top {
  margin: 0 auto;
}
.card-body h1 {
  font-size: 1.5em;
}
