<div class="row">
  <div class="col-6">
    <h2>My Courses</h2>
  </div>
  <div class="col-3">
    <button type=" button" class="btn btn-primary add-button">
      Create Course
    </button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-primary add-button">
      Add Course
    </button>
  </div>
</div>
<div class="row">
  <div class="card-scroll d-flex flex-row flex-now">
    <div class="card">
      <img class="card-img-top" src="assets/img/venuelogo.svg">
      <div class="card-body">
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/venuelogo.svg">
      <div class="card-body">
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/img/venuelogo.svg">
      <div class="card-body">
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </div>
    </div>
  </div>
</div>
