<div class="row">
  <div class="col-6">
    <h2>My Courses</h2>
  </div>
  <div class="col-3">
    <button type=" button" class="btn btn-primary add-button">
      Create Course
    </button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-primary add-button">
      Add Course
    </button>
  </div>
</div>
<div class="row">
  <div class="scroll-container">
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <img mat-card-img width="200" src="assets/img/venuelogo.svg">
      <mat-card-content>
        <h1>
          ClassName
        </h1>
        <h1>
          Instructor
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
