<div class="row">
  <div class="col-9">
    <h2>Upcoming</h2>
  </div>
  <div class="col-3">
    <button type=" button" class="btn btn-primary add-button">
      Create Event
    </button>
  </div>
</div>
<div class="row">
    <div class="card-scroll d-flex flex-row flex-now">
      <div class="card">
        <img class="card-img-top" src="assets/img/venuelogo.svg">
        <div class="card-body">
          <h1>
            Event/Location
          </h1>
          <p class="card-text">Date/Time</p>
          <p class="card-text">Course</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/venuelogo.svg">
        <div class="card-body">
          <h1>
            Event/Location
          </h1>
          <p class="card-text">Date/Time</p>
          <p class="card-text">Course</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/img/venuelogo.svg">
        <div class="card-body">
          <h1>
            Event/Location
          </h1>
          <p class="card-text">Date/Time</p>
          <p class="card-text">Course</p>
        </div>
      </div>
    </div>
</div>
