mat-grid-tile {
  background: rgb(138, 102, 153);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.btn-remove {
  background: #FC5D60;
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  padding-top: 50px;
  width: 95%;
}

.grid-height {
  height: 680px;
}

.btn-group {
  margin: 5px;
}

body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}

hr {
  background: black;
}

webcam {
  margin-left: 10%;
}

.add-button {
  height: 100%;
  border-style: none;
  margin: 5px;
}
