mat-grid-tile {
  background: rgb(145, 27, 196);
}

.row {
  display: flex;

  h1 {
    text-align: left;
  }
}

.btn-remove {
  background: #FC5D60;
}

.column {
  flex: 50%;
}

.center {
  margin: auto;
  width: 95%;
}

.grid-height {
  height: 650px;
}

body {
  background: white;
  // box-shadow: 0px 30px 70px 70px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}

hr {
  background: black;
}
