//Navbar styles
.navbar {
  margin: 0px;
  //padding-bottom: 0px;
  position: sticky;
  top: 0px;
  background: rgb(124, 71, 146);

  .navbar-brand {
    margin: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  //Hover effects
  .navbar-brand:hover {
    color: rgb(255, 255, 255);
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.1s;
    margin-bottom: -2px;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}