//Navbar styles
.navbar {
  margin: 0px;
  background: rgba(145, 27, 196);

  .navbar-brand {
    margin: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
  }

  .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  //Hover effects
  .navbar-brand:hover {
    color: rgb(255, 255, 255);
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
    transition: 0.1s;
    margin-bottom: -2px;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}
