<div class="center">
  <br><br>
  <h2 style="text-align:center">Create an account</h2>
  <br><br>
  <div class="ex1">
    <input class="form-control field" type='text' name='firstname' placeholder="First name..." required>
    <br>
    <input class="form-control field" type='text' name='lastname' placeholder="Last name..." required>
    <br>
    <input class="form-control field" type='text' name='email' placeholder="example@gmail.com" required>
    <br>
    <input class="form-control field" type='password' name='password' placeholder="Password..." required>
    <br>
    <input class="form-control field" type='password' name='passwordConfirm' placeholder="Re-enter Password..."
      required>
    <br>
    <button class="btn btn-primary">Submit</button>
    <br>
  </div>
</div>
