<div class="center form">
  <br><br>
  <div class="col-lg-12">
    <h2 style="text-align:center">Create an account</h2>
    <mat-grid-list cols="6" rowHeight="75px">
      <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile class="form-group" [colspan]="2" [rowspan]="1">
        <input class="form-control field no-border" type='text' name='firstname' placeholder="First name..." required>
      </mat-grid-tile>
      <mat-grid-tile class="form-group" [colspan]="2" [rowspan]="1">
        <input class="form-control field no-border" type='text' name='lastname' placeholder="Last name..." required>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile class="form-group" [colspan]="4" [rowspan]="1">
        <input class="form-control field no-border" type='text' name='email' placeholder="example@gmail.com" required>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile class="form-group" [colspan]="4" [rowspan]="1">
        <input class="form-control field no-border" type='password' name='password' placeholder="Password..." required>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
      <mat-grid-tile type='button' class="submit" [colspan]="4" [rowspan]="1">Submit</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1"></mat-grid-tile>
    </mat-grid-list>
  </div>
  <br><br>
</div>
