.field {
  background: rgb(255, 140, 140);
}

.submit {
  background: rgb(97, 126, 206);
}

.form {
  background: rgb(187, 59, 187);
}

.center {
  margin-left: 5%;
  margin-top: 3%;
  width: 90%;
  height: 90%;
}

.no-border {
  border: 0px;
}
