body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
  padding-top: 100px;
}

img {
  width: 15%;
}

.center {
  margin-left: 5%;
  padding-top: 10%;
  width: 90%;
  height: 90%;
}

.no-border {
  border: 0px;
}

.ex1 {
  max-width: 500px;
  margin: auto;
}

body {
  background: white;
  margin-left: 5%;
  width: 90%;
  height: 83vh;
}

hr {
  background: black;
}
