<div class="row">
  <div class="col-9">
    <h2>Upcoming</h2>
  </div>
  <div class="col-3">
    <button type=" button" class="btn btn-primary add-button">
      Create Event
    </button>
  </div>
</div>
<div class="row">
  <div class="scroll-container">
    <div class="card">
      <img class="card-header container" style="background: rgb(138,102,153); height: 125px;"
        src="/assets/img/venuelogo.svg" alt="img">
      <div class="card-body">
        <h5 class="card-title">Event/Location</h5>
        <hr>
        <p class="card-text">Date/Time</p>
        <p class="card-text">Course</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card">
      <img class="card-header container" style="background: rgb(138,102,153); height: 125px;"
        src="/assets/img/venuelogo.svg" alt="img">
      <div class="card-body">
        <h5 class="card-title">Event/Location Ex2</h5>
        <hr>
        <p class="card-text">Date/Time Ex2</p>
        <p class="card-text">Course Ex2</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
